@include keyframes( fadeInDownBig ) {

	from {
		opacity: 0;
		@include transform( translate3d(0, -2000px, 0) );
	}

	to {
		opacity: 1;
		@include transform( none );
	}
}

.fadeInDownBig {
	animation-name: fadeInDownBig;
}