
@include keyframes( #{$global-class-prefix}wobble-top ) {

	16.65% {
		@include transform( skew(-12deg) );
	}

	33.3% {
		@include transform( skew(10deg) );
	}

	49.95% {
		@include transform( skew(-6deg) );
	}

	66.6% {
		@include transform( skew(4deg) );
	}

	83.25% {
		@include transform( skew(-2deg) );
	}

	100% {
		@include transform( skew(0) );
	}
}

.#{$global-class-prefix}wobble-top {
	@include transform-origin( 0 100% );

	&:hover,
	&:focus,
	&:active {
		animation-name: #{$global-class-prefix}wobble-top;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
}